/*----------------------------------------------------------------------------------------------------------------------> PARTIE GLOBALE HTML, BODY */
html, body{
    min-height: 100vh;
    max-height: 100vh;
}

html{
    font-family: 'Acme', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 900px;
}
/*----------------------------------------------------------------------------------------------------------------------> HEADER, NAV, SECTION */
header{
    display: grid;
}
nav{
    padding: 1rem;
}
section{
    padding: 1rem;
}
/*----------------------------------------------------------------------------------------------------------------------> FOOTER */
footer{
    margin: 0.5rem 0;
    padding: 1rem;
}