.encadre{
    position: relative;
    border: 1px solid black;
    margin: 0.5rem 0;
}

.col_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header img{
    grid-row: 1 / 5;
    align-self: center;
    justify-self: center;
    width: 90px;
    height: 90px;
}
header h1{
    grid-row: 2 / 3;
}
header p{
    grid-row: 3 / 3;
}