.Encadre{
    position: relative;
    border: 1px solid black;
    margin: 0.5rem 0;
}

.Colonne_Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header img{
    grid-row: 1 / 5;
    align-self: center;
    justify-self: center;
    width: 90px;
    height: 90px;
}
header h1{
    grid-row: 2 / 3;
}
header p{
    grid-row: 3 / 3;
}

.Section_Menu{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.DivSectionMenu{
    display: flex;
    flex-wrap: wrap;
}

.btn:hover {
    background-color: #000000;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    border-radius: 3px;
}