.divSelectionGame {
    text-align: center;
    transition: background-color 300ms, color 300ms;
    border-radius: 0.3rem;
    padding: 0.3rem;
    cursor:pointer;
}
.divGamedex .divSelectionGame{
    width:30%;
    margin-top: 2%;
    background-color: crimson;
}
.divSelectionGame img {
    width: 100%;
    background-color: white;
    border-radius: 0.3rem;
}
.divSelectionGame:hover {
    background-color: black;
    color: white;
}
.divName{
    font-size: 1.1em;
}
.divPlatform{
    font-size: 0.9em;
}
.divPlatform, .divName{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.divGamedex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*----------------------------------------------------------------------------------------------------------------------> PILL PLATFORMS */
.spanGame{
    background-color: #fff;
    border: none;
    color: black;
    text-align: center;
    width: 20%;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
}